::-webkit-scrollbar {
  display: none;
}

.link {
  text-decoration: none;
  color: #212529;
  padding: 10px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-bg {
  height: 300px;
  /* css 파일에서 src 폴더의 이미지를 넣을 땐 url('./이미지경로') */
  background-image: url('./images/bg.png');
  background-size: cover;
  background-position: center;
}

.more-btn {
  margin: 10px;
}

/* 애니메이션 CSS */
/* 1. 애니메이션 동작 전 CSS */
.start {
  opacity: 0;
}
/* 2. 애니메이션 동작 후 CSS */
.end {
  opacity: 1;
  /* 3. transition 추가 */
  transition: all 0.5s;
}

/* Detail.js CSS */
.container .tab-ui {
  margin-top: 30px;
}